body {
  background-color: #F1E1F5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.game-site {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  border: 6px solid #F1E1F5;
  background-color: white;
}

.header {
  background-color: #EC008C;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #83BD1C;
  overflow: hidden;
}

.header h1 {
  color: white;
  font-size: 55px;
  margin: 0;
  text-shadow: 3px 3px 0px #c51f69;
}

.nav {
  display: flex;
  background-color: #b7d845;
}

.nav button {
  flex: 1;
  border: none;
  background-color: #83BD1C;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  color: #5d6b23;
}

.nav button:hover {
  background-color: #d2eb70;
}

.content {
  min-height: 450px;
  background-color: white;
  margin: 10px;
  border: 2px solid #d7ea8a;
}
.logo {
  max-width: 70%;
  max-height: 125px;
  width: auto;
  height: auto;
  object-fit: contain;
}
/* CHARACTER SELECT SCREEN */

.character-select {
  padding: 20px;
  text-align: center;
}

.character-select h2 {
  margin-top: 0;
  font-size: 32px;
}

.character-cards {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 25px;
}

.character-card {
  width: 180px;
  height: 280px;
  background-color: #55c9bd;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
}

.doll-window {
  width: 100%;
  height: 100%;
  background-color: #315f63;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.doll-window p {
  font-size: 13px;
}
